        /* body {
            padding-top: 5px;
            
            
        } */
        
        .card {
            margin-top: 20px;
            border: 5px cornflowerblue; 
            /* color: cornflowerblue; */
        }
        
        .card-img-top {
             
            width: 180px;
            height: 100px;
            object-fit: cover;
            
            
            
        }
        
        .card-title {
            
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
            color: cornflowerblue;
            
        }
        
        .card-text {
            margin-bottom: 15px;
            font-size: 14px;
            color: hsl(216, 85%, 48%);
            
        }

        .box {
            width: 400px;
            height: 350px;
            border:  solid cornflowerblue;
            padding: 30px;
            margin: 2px;
          }
        
        .container {
            max-width: 500px;
            background-color: cornflowerblue;
            
        }