.contactimage {
    height:400px;
   width: 1350px;
   opacity: .9;
    
}


.text-caption{
       
}
.text-contact{
        font-size: 44px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        text-align: center;
        color: #4d0909;

}


.maptop{
    padding-bottom: 140px;
}
.map-container {
    height: 300px; /* Adjust the height as needed */
}
.contact-detail{
    padding-top: 70px;
    left: 10px;
}
.contact-title{
    font-size: 50px;
    margin-bottom: 60px;
font-family:'Playfair Display', serif;
font-weight: bold;
}
.contact-title:after {
    content: '';
    width: 80px;
    position: absolute;
    left: 30px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #c5874e;
 }
   .title-writeus{
    padding-bottom: 80px;
    font-size: 45px;
    font-family:'Playfair Display', serif;
    font-weight: bold;
    color: rgb(15, 0, 0);
   display: flex;
   justify-content: center;
   padding-top: 20px;
   }
   .title-writeus:after {
    padding-bottom: 50px;
    content: '';
    width: 80px;
    position: absolute;
    left: 600px;
    display: block;
    border-bottom: 2px solid #c5874e;
 }
  .form-control {
    border-radius: 0px;
    margin-bottom: 30px;
}
 .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c5874e;
    border-radius: 4px;
}

.send-btn {
    
    color: #c5874e;
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
   
}
.send-btn-primary{
    display: flex;
    justify-content: flex-end;
}