.form-card-group{
  background: rgb(164, 174, 255);
  border-radius: 30px;
}

.imagefile{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
} 

.register-btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 50%;
  background-color: blue;
  color: white;
  border-radius: 60px;
  font-weight: 600;
}

.register-btn1:hover{
  background: white;
  border: 1px solid;
  color: black;
  transition: 0.5s;
}

.inp{
  height: 50px;
  width: 450px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  background: transparent;
  color: #40414a;
}


