.relaxheading {
    padding: 5px 0;
    text-align: center;
    padding-top: 100px;
  }
  .section-heading {
    margin-top: 60px;
    position: relative;
    /* font-family: "roboto"; */
    color: rgb(0, 0, 0);
  }
  .bg-light{
    background-color: black;
  }
  .relaxheading:after {
    content: '';
    width: 100px;
    position: absolute;
    left: 590px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #c5874e;
  }
  .section-description{
    font-family: 'poppins';
    font-style:inherit;
    padding: 10px 0;
  }
  
  .image-container {
    margin-top: 30px;
  }
  .image {
    max-width: 100%;
    height: auto;
  }

  /* .relaxation{
    margin-bottom: 100px;
  } */
.section{
  font-family: sans-serif;
  padding-bottom: 30px;
  background:  #aabbce;
}