.section {
    padding: 50px 0;
    text-align: center;
  }
  .section-heading {
    position: relative;
    font-family: "poppins";
    color: rgb(0, 0, 0);
  }
  
  .section-heading:after {
    content: '';
    width: 100px;
    position: absolute;
    left: 470px;
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #c5874e;
  }
  
  
  .image-container {
    margin-top: 30px;
  }
  .image {
    max-width: 100%;
    height: auto;
  }

  footer {
    background-color: #172d44;
    color: aliceblue;
    padding: 20px;
    text-align: center;
  }