h2
{
       color:black
}
     
     .text-info 
              {
                color: black;
              }
      label 
              {
                font-weight: 600;
                color: #1e2cc8;
              }
     
    