body{
  background-color: white;
  background-size: cover;
}

#form{
    background-color: hsl(0, 0%, 99%);
    height:400px;
    width: 900px;
    margin:auto;
    padding:40px;
    opacity: 0.7;
  }
  #form h3{
    border-bottom: px solid #01060a;
    width:180px;
    padding: 5px;
  }
  ::placeholder{
    color:#ffffff
  }
  #input #input-group{
    width:300px;
    margin:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#3e09b9;
    position: relative;
    right: 125px;

  }
  #input2 #input-group{
    width:300px;
    margin:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    position: relative;
    right: 125px;
    
  }
  
  #input4 #input-group{
    width:400px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#3e09b9;
    position: relative;
    right: 120px;
    
    
  }
  #input4 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#3e09b9;
    position: relative;
    right: 120px;

  }
  #input5 {
    color: blue;
  
    width:300px;
    margin:15px;
    position: relative;
    right: 130px;
  
  
    outline: none;
    background: transparent;
    color:#fff
  }
  .added {
  background-color: rgb(17, 4, 204);
  width: 80px;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  left: 660px;
  
  color: #ffffff;
  cursor: pointer;
  }

  ::placeholder{

    color: blue
    
    }
    .text-black {
      color: Blue;
    }
 
  
select {
  color: blue;
}

select:focus {
  color: #5b27d3;
}
option {
  color: blue;
}
option:first-of-type {
  color: blue;
}

.form-group {
    padding: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: double;

}

.text-black {

text-align: left;
position: relative;
right: 120px;
}

.text-left {
  color: black;
  text-align: left;
  position: relative;
  left: 9px;
  }