.expense-h1
{
      color:#000000;
      font-family: 'roboto';
      font-size: 40px;
      text-align: center;
}

.expense-container
{
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      margin-top: 150px;
      margin-bottom: 50px;
}
.expense-row
{
      padding: 3.5rem;
      padding-top: 60px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      margin-right: 70px;
}
.expense-label
{
      font-weight: 600;
      color: black;
      font-family: 'roboto';
}
.expense-button{
      width: min-content;
      margin-left: 820px;
}



