.text-left {
      color:#141414;
      font-family: 'roboto';
      font-size: 40px;
      margin-left: 180px;
      margin-top: 90px;
    }
    .addexpense-row
    {
      padding: 1.5rem;
      padding-top: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
     
    }
    .addexpense-jumbotron {
      width: 700px;
      padding: 2rem 2rem;
      margin-left: 180px;
      background-color: #eaecf4;
      border-radius: 0.3rem;
    }
    .custom-form-inner-expense{
      display: flex;
      row-gap: 20%;
      width: 100%;
      flex-wrap: wrap;
      margin-top: 20px;
    }
    .custom-form-group-expense label{
      color: #858691;
      font-family: roboto;
      font-weight: 500;
      font-size: 17px;
      
    }
    .custom-form-group-expense input, 
    .custom-form-group-expense select{
      min-height: 40px;
      border-radius: 3px;
      font-family: roboto;
    }
  
    .custom-form-group-expense input::placeholder,
    .custom-form-group-expense select::placeholder{
      font-family: roboto;
    }
    
    .add-expense-btn{
      font-size: 18px;
      min-width: 100px;
      margin-left: 270px;
      margin-top: 20px;
    }
  
   
    
   
  
   