.bodyfiles{

    padding: 30px;
    background-color: #dce5f3;
    border-radius: 30px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    margin: 100px;
    margin-top:200px;
    margin-right:100px;
  } 

  .formfiles {
    display:flex;
    align-items: center;
    background-color: #dce5f3;
    padding: 10px;

  }

  .groupform {
    margin-right: 20px;
    padding: 20px;
  }

 