.form-container{
  font-family: "roboto";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-around;
  align-items:center;
  height: 100vh;
  background-color: #f0f0f0;
}

.log-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form {
  max-width: 350px;
  margin: 6px 8px;
}

.login-form h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remember {
  display: flex;
  margin-bottom:10px;

}

button {
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: #007BFF;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
