h1{
    font-size: 19px;
}

.contain {
width: 1000px;
margin: 20px;
margin-top: 40px;
padding: 20px;
background-color: rgb(231, 232, 238);
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
position: absolute;
top: 2em;
right: 0;

}
.booking-card {
  margin-bottom: 15px;
  position: relative;
}
.price-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #dae5f0;
  border: 1px solid #dee2e6;
  padding: 4px 8px;
  border-radius: 4px;
}
.ml{
    padding-left: 20px;
}
.card-title{
    padding-left: 20px;
}

.section-heading {
position: relative;
font-family:sans-serif;
color: rgb(0, 0, 0);
}

.section-heading:after {
  content: '';
  width: 80px;
  position: absolute;
  left: 20px;
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid #5255e4e5;
}
.search-container {
  position: relative; 
  width: 210px;
  left: 858px;
  
}
.search-icon {
  position: absolute;
  top: 8px;
  left: 218px;
  cursor: pointer;
}
.button{
  position: absolute;
  right: 10px;
  top:170px;
  background-color: rgb(43, 81, 150);
  border: 1px solid #dee2e6;
  padding: 4px 8px;
  border-radius: 4px;
  color: rgb(240, 240, 240);
}


 