         
         
           .button5{
            width: 185px;
            height: 45px;  
            font-family: 'bold';
            }

         


         .main{    
                 
           
              padding: 100.4px;          
              font-family: 'PT Sans', sans-serif;

         }

         .small{ 
            margin-top: 11px;
            


             }



         h2
         {
           
            padding-top: 1.5rem;
         }
   

   
         .form-control{
         
            margin-bottom: 0.9rem;
         }

   
         .form-control:hover {
            background-color: rgb(161, 171, 226);
         
         }

         
         