         
         
           .button5{
            width: 310px;
            height: 45px;  
            font-family: 'roboto';
            }

           .small{ 
            margin-top: 8px;
             }


         .W3-container{    
               background: url('aut image.jpg');   
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               background: #226dc4;    
            background: linear-gradient(to right, rgb(96, 124, 185) , rgb(170, 209, 224));
              padding: 197.3px;          
              font-family: 'PT Sans', sans-serif;
         }
         h2
         {
      
            padding-top: 1.5rem;
         }
   

   
         .form-control-group{
         
            margin-bottom: 1.2rem;
         }

   
         /* .form-control:hover {
            background-color: rgb(232, 233, 240);
         } */

         
         