
  
 .details {
  font-size: 14px;
  line-height: 21px;
 }
  
 .card-container {
  background-color: #eaecf4;
  border-radius: 2px;
  box-shadow: 10px 10px 15px #e3e6f0;
  color: black;
  padding: 30px 0 0;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
 }

  
