            .group-h2 
            {
                 font-weight:bold ;
                 font-size: 20px;
                 color:black;
             }
            p
            {
                font-family: roboto;                
                color:black;
                font-size: 18px; 
            }
            .label
            {
                font-family: roboto;
                font-weight:bold ;
                color:black;
                font-size: 18px;
            }
            .aaa
            {
                margin-left: 65px;
            }
            
            .bbb
            {
                margin-left: 50px;
            }
            .CCC
            {
                margin-top: 10px;
                margin-left: 40px;
                font-weight: bold;
            }
            .group-container 
            {  
                /* margin: 10px; */
                padding-top: 10px;
                background-color: rgb(171, 208, 228);
               
            }
            .image
            { 
                border-radius: 70%;
                margin-top: 105px;
                margin-left: 75px;
                width: 180px;
                height: 200px;
                
                /* Border-radius: 4px; */
                
                /* object-fit: contain; */
            }
            .card-title 
            {  
                font-size: 34px;
                font-weight: bold;
                margin-top: 14px;
                margin-left: 55px;
                color: black;
            }
            .card-text 
            {   
                
                font-family: 'Work Sans', sans-serif;
                margin-bottom: 10px;
                font-size: 20px;
                font: bold;
                color: black;
            }
            
            
            
            
            
            